ul {
    list-style: none;
}

.second-line > div {
    padding: 10px;
}

.second-line {
    position: relative;
    display: inline-flex;
}

.main-div {
    position: relative;
    border: 1px solid rgb(200, 200, 200);
    padding: 5px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
}